<ul class="nav justify-content-center bg-dark">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-light " href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-light ml-2" href="lista">Lista</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-light  ml-2 " href="lista_para_categoria">De lista para categoria</a>
  </li>
  {{#if user}} {{!-- user vem da variadel global --}}
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light  ml-2 " href="/usuario/logout">sair</a>
    </li>
  {{else}}
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light  ml-2 " href="/usuario/login">login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light  ml-2 " href="/usuario/registro">Reguitrar</a>
    </li>
  {{/if}}
</ul>