<h1>Categorias</h1>

<div class="container">
  <div class="card-deck mb-3 text-center">

		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">
		        	<font style="vertical-align: inherit;">
		        		<font style="vertical-align: inherit;">futoro foto</font>
		        	</font>
		        </h4>
		      </div>
		      <div class="card-body">
		        <h3 class="card-title pricing-card-title">
		        	<font style="vertical-align: inherit;">
		        		<font style="vertical-align: inherit;">{{postegens.titulo}}</font>
		        	</font>
		        </h3>
		        <hr>
		        <ul class="list-unstyled mt-3 mb-4">
		          <li>
		          	<font style="vertical-align: inherit;">
		          		<font style="vertical-align: inherit;">{{postegens.descricao}}</font>
		          	</font>
		          </li>
		          <hr>
		          <li>
		          	<font style="vertical-align: inherit;">
		          		<font style="vertical-align: inherit;">{{postegens.conteudo}}</font>
		          	</font>
		          </li>
		          <hr>
		          {{!-- <li>
		          	<font style="vertical-align: inherit;">
		          		<font style="vertical-align: inherit;">{{lista.nome}}</font>
		          	</font>
		          </li> --}}
		          <br>
		          <li>
		          	<font style="vertical-align: inherit;">
		          		<font style="vertical-align: inherit;">Obrigado por nos visitar</font>
		          	</font>
		          </li>
		        </ul>
		      </div>
		    </div>
    </div>
</div>


