
<div class="card">
  <div class="card-body">
    <h3>Aqui vc cria a sua lista</h3>
    <form action="/lista" method="post">
    	<label for="nome">Nome</label>
    		<input type="text" id="nome" name="nome" placeholder="Seu nome" class="form-control" required>
    	<label for="sobrenome">Sobrenome</label>
    		<input type="text" id="sobrenome" name="sobrenome" placeholder="Seu sobrenome" class="form-control" required>
    	<label for="email">Email</label>
    		<input type="email" id="email" name="email" placeholder="Seu email" class="form-control" required>	
    	<button type="submit" class="btn btn-success mt-3">criar lista</button>	
    </form>
  </div>
</div>
<br><br><br>
<p>nao esta imprimindo erro do handlebars para resolver <strong>.sort({date:'desc'}).lean()</strong> </p>
{{#each listas}}
	
		nome: {{this.nome}} <br>  
		sobrenome: {{this.sobrenome}} <br>
		email: {{this.email}} <br>
        data : {{this.date}}
		
{{/each}}